<!--The content below is only a placeholder and can be replaced.-->
<img src="../assets/logo.png">
<br>
<div style="text-align:center">
  <h3>
   Outreach {{ title }} System
    </h3>
  </div>
<br>
<br>

<app-dashboard> </app-dashboard>


