<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Apply Filter</h3>
        <form [formGroup]="engagementForm" (ngSubmit)="onFilterSubmit()">
          <div class="form-group">
            <label>Business Unit</label>
            <select formControlName="businessUnit" class="form-control" >
             <option > All </option> 
              <option *ngFor="let bu of busUnit"> {{bu}} </option>
            </select>
          </div>
          <div class="form-group">
            <label>Base Location</label>
            <select formControlName="baseLocation" class="form-control">
              <option > All </option>
              <option *ngFor="let ba of baLocation"> {{ba}} </option>
            </select>
          </div>
          <div class="form-group">
            <label>Focus Area</label>
            <select formControlName="focusArea" class="form-control">
              <option > All </option>
              <option *ngFor="let fa of fArea"> {{fa}} </option>
            </select>
          </div>
      
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br>

<div *ngIf="engagementOutput">
    <table class="table-bordered">
      <thead>
        <tr>
          <th>One Timer</th>
          <th>2 -5 Timer </th>
          <th>5+ Timer/th> 
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{engagementOutput.oneTime}}</td>
          <td>{{engagementOutput.twoPlusTime}}</td>
          <td>{{engagementOutput.fivePlusTime}}</td>       
        </tr>
      </tbody>
    </table>  

  <br>
  <br>



<google-chart #chart *ngIf="chartData"
[title]="chartTitle"
[type]="chartType"
[data]="chartData"
[columnNames]="columnNames"
[options]="chartOptions"
[width]="width"
[height]="height">
</google-chart>

</div>

