
<div id="outer-container">
<div id="sidebar">  
<!--  <a routerLink="/dashboard"> Dashboard </a>-->
<ul>
     <li> <a routerLink="/participation" > Participation </a></li>
     <li><a routerLink="/engagement" > Engagement </a></li>
     <li><a routerLink="/retention" > Retention </a></li>
    </ul>
</div>
<div id="content">
<router-outlet></router-outlet>
</div>
</div>
